<!DOCTYPE html>
<html lang="en" ng-app="instagramApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ngInstagramSearcher</title>
	<link href='https://fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href="css/style.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
</head>
<body ng-controller="MyCtrl">
	<section class="app">
		<img src="img/instagram-searcher-logo.png" class="logo" alt="Instagram Searcher">
		<form name="searchForm" ng-submit="searchInstagram(data.search_text)">
			<input type="text" name="search_text" ng-model="data.search_text" placeholder="Enter search term" required>
			<br>
			<button type="submit">Search</button>
		</form>
		<div class="results">
			<span class="status" ng-show="loadMsg">Searching Instagram for photos tagged with "{{data.searchValue}}"</span>
			<span class="status" ng-show="imageData.imageUrl.length > 0">We found {{imageData.imageUrl.length}} results for "{{data.searchValue}}"</span>
			<span class="status" ng-show="errorMsg">Sorry, no images were found for "{{data.searchValue}}"</span>
			<ul>
				<li class="image-container" ng-repeat="imageItem in imageData.imageUrl">
					<a href="{{imageData.instagramUrl[$index]}}" target="_blank">
						<img ng-src="{{imageItem}}" alt="" class="resultImg">
					</a>	
				</li>
			</ul>
		</div>
	</section>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
